/* 底部 */
.lt-toolbar{
    background-color:#6e6e6e;
}
.lt-toolbar .mui-item{
    display:inline-block;
    font-size:24px;
    color:#000;
    padding:0 40px;
    line-height:50px;
}
.lt-toolbar button{
    width:130px;
    height:40px;
    font-size:18px;
    margin-top:5px;
    line-height:26px;
    text-align:center;
    color:#fff;
}
.lt-toolbar .add-cart{
background-color:#991020;
margin-left:10px;
box-sizing:border-box;
}
.lt-toolbar .now-buy {
    background-color:#fa672d ;
    margin-left:15px;
    box-sizing:border-box;
}
/* 商品详情滚动内容 */
.detail-name {
    width:100%;
    font-size:20px;
    padding:0 5px;
    color:#333;
    background-color:#fff;
    box-sizing:border-box;
   
}
.detail-price {
    width: 100%;
    border-top:1px solid #ccc;
    padding:10px 5px;
    padding-bottom:1px solid #ccc;
    box-sizing:berder-box;

}
.detail-price .new {
    color:red;
    font-size:30px;
}
.detail-price .old{
    color:#ccc;
    padding-left:5px;
    text-decoration:line-through;
}
.detail-size{
    padding-left:5px;
    background-color:#fff;
    padding:10px 0;
    padding-left:5px;
    box-sizing:berder-box;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}
.detail-size span+span{
    display:inline-block;
    width: 30px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#ccc;
    margin:2px;
    border:1px solid #ccc;
  font-size:16px;
}
.detail-num {
    height:100px;
    padding:10px 0;
    padding-left:5px;
    box-sizing:border-box;
    background-color:#fff;
}
.detail-num span:nth-child(2),
.detail-num span:nth-child(3),
.detail-num span:nth-child(4) {
    display:inline-block;
    width: 30px;
    height: 30px;
    border:1px solid #ccc;
    box-sizing:border-box;
    text-align:center;
    line-height:30px;
    color:#000;

}
