html,body {
  font-family: 'Microsoft YaHei';
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}


/* main page */
.lt-aside {
  position: absolute;
  width: 180px;
  height: 100%;
  background-color: #222d32;
}

.lt-aside .brand {
  width: 100%;
  height: 50px;
  background: #367fa9;
}

.lt-aside .brand a {
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.lt-aside .user {
  padding: 30px 20px;
}

.lt-aside .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lt-aside .user span {
  color: #fff;
  font-size: 12px;
}

.lt-aside .menu {
 
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 3px;
}

.lt-aside .menu li > a {
  height: 100%;
  line-height: 40px;
  color: #aaa;
  border: 3px solid transparent;
  padding-left: 30px;
}

.lt-aside .menu .child {
  display: none;
}

.lt-aside .menu .child a {
  display: block;
  height: 30px;
  padding-left: 50px;
  font-size: 12px;
  color: #aaa;
  line-height: 30px;
}

.lt-section {
  padding-left: 180px;
  height: 100%;
  /* background-color: greenyellow; */
}

.lt-section.menu {
  padding-left: 0;
}


.lt-section .lt-nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #3c8dbc;
  margin-bottom: 20px;
}

.lt-section .lt-nav a {
  color: #fff;
}

.lt-section .lt-nav a:first-child {
  float: left;
  margin-left: 15px;
}

.lt-section .lt-nav a:last-child {
  float: right;
  margin-right: 15px;
}

.lt-section .lt-content {
  width: 100%;
  /* padding: 0 10px; */
}

.lt-section .lt-canvas .picTable {
  float: left;
  width: 45%;
  height: 400px;
}

.lt-section .lt-canvas .picTable:last-child {
  margin-left: 10%;
}


/* login page */
.lt-login {
  background-color: #222d32;
  padding-top: 150px;
}